<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminCourseMapper">
    <select id="getAdminCourse" resultType="com.example.demo.bean.AdminCourse">
        select courses.cno, cname, department as academy, tname, term
        from teachers,giveLesson,courses
        where  teachers.tno = giveLesson.tno
        and courses.cno = giveLesson.cno
        <if test="cno != -1">
            and courses.cno = #{cno};
        </if>
        <if test="tno != -1">
            and teachers.tno = #{tno};
        </if>
    </select>
<!--    <insert id="AddTeacher">-->
<!--        insert into teachers(tno, tname, pass, sex, title, inyear, privilege) values (#{tno}, #{tname}, #{pass},  #{sex}, #{title}, #{intime}, #{privilege});-->
<!--    </insert>-->
<!--    <update id="UpdateTeacher">-->
<!--        update teachers set privilege = #{privilege}, title = #{title} where tno = #{tno};-->
<!--    </update>-->
</mapper>
