<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminCourseMapper">
    <select id="getAdminCourse" resultType="com.example.demo.bean.AdminCourse">
        select courses.cno, teachers.tno, cname, department as academy, tname, term
        from teachers, giveLesson,courses
        where  teachers.tno = giveLesson.tno
        and courses.cno = giveLesson.cno
        <if test="cno != -1">
            and courses.cno = #{cno};
        </if>
        <if test="tno != -1">
            and teachers.tno = #{tno};
        </if>
    </select>
    <insert id="AddAdminCourse">
        {call update_givnlesson(#{cno},#{tno},#{cname},#{acedamy},#{term},#{credit})}
    </insert>
    <delete id="deleteAdminCourse">
        delete from giveLesson where cno = #{cno} and tno = #{tno};
    </delete>
    <update id="updateAdminCourse">
        update giveLesson set tno = #{tno} where cno = #{cno} and tno = #{oldtno}
    </update>

</mapper>
