<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">
<select id="getCourseInfo" resultType="com.example.demo.bean.Course">
    select takeclass.cno, cname, department, tname, count(*) as stuNum
    from takeclass,courses,teachers
    where takeclass.tno = #{id}
      <if test="cno != -1">
          and takeclass.cno = #{cno}
      </if>
      and  takeclass.cno=courses.cno
      and  takeclass.tno=teachers.tno
    group by cname,department, tname, takeclass.cno;
</select>

</mapper>
