<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CreditMapper">
<select id="getCredit" resultType="int">
    select sum(credit)
    from courses,takeclass
    where takeclass.sno=#{sno}
      and   takeclass.score>=60
</select>
</mapper>
