<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StuMapper">
<select id="getStuInfo" resultType="com.example.demo.bean.Student">
    select sno, sname, pass, sex, major, inyear, telphone, inyear + 4 as leaveyear from students where sno = #{id};
</select>

</mapper>
