<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeaMapper">
<select id="getTeaInfo" resultType="com.example.demo.bean.Teacher">
    select tno, tname, pass, title, sex, inyear, telphone from teachers where tno = #{id};
</select>

</mapper>
